{% extends "base.html" %}
{% block title %}About - Truthbot.org{% endblock %}
{% block maincontent %}
<p class="lead">
  Truthbot is an online database of news that anyone can contribute to. It offers transparency
  on the ownership structures of news organizations, as well as a community-powered news aggregator for under-covered topics.
</p>
<h2>Supporting Truthbot</h2>
<p>The best way to support Truthbot is to contribute news articles and add to the organization database! However, Truthbot is a
  project I work on in my personal time. I pay for the server and other costs all out-of-pocket. I don't mind doing this, but donations are extremely appreciated so
  I can continue to develop Truthbot and keep it online.
<p>If you want to contribute financially to Truthbot, you can do so via <a href="https://salt.bountysource.com/teams/truthbot">Bountysource</a> or <a href="{% url "donate" %}">other donation methods</a>.</p>
{% endblock %}
