{% extends "base.html" %}
{% block title %}About - Truthbot.org{% endblock %}
{% block maincontent %}
<p class="lead">
  Truthbot is an online database of news that anyone can contribute to. It offers transparency
  on the ownership structures of news organizations, as well as community-written well referenced reviews of articles
  to allow for easy fact checking.
</p>
<h2>Supporting Truthbot</h2>
<p>If you want to contribute financially to Truthbot, you can do so via <a href="https://salt.bountysource.com/teams/truthbot">Bountysource</a>.</p>
<p>
  This page is a work in progress. If you have any questions, please don't hesitate to ask on <a href="http://forums.truthbot.org/t/official-faq-and-q-a/19/1">the forums</a>.
</p>
{% endblock %}
