{% extends "base.html" %}
{% block title %}Donate - Truthbot.org{% endblock %}
{% block maincontent %}
<h2>Donate to support Truthbot development and server costs</h2>
<div class="row">
  <div class="col-sm-6">
    <p>Donate directly via PayPal: <a href="https://www.paypal.me/jaxkr">PayPal.me</a>.
    <p>Donate directly using Bitcoin: 13VEnbed4HJhwZn738pDdHvGGn6cDxnxdx</p>
    <p>Donate using <a href="https://salt.bountysource.com/teams/truthbot">Bountysource</a>.</p>
    <p><b>Thank you so much for your support!</b></p>
  </div>
</div>
{% endblock %}
