{% extends "base.html" %}
{% block title %}Donate - Truthbot.org{% endblock %}
{% block maincontent %}
<h2>Donate to support Truthbot development and server costs</h2>
<div class="row">
  <div class="col-sm-6">
    <p class="lead">Donate directly via credit-card:</p>
    <script src="https://www.dntly.com/assets/js/v1/form.js" data-donately-id="act_62dc089620f4" data-stripe-publishable-key="pk_live_lylnbi8IEx2fuUhkbjygbI6I" data-donately-amount="10" data-donately-ssl="true" data-donately-anonymous="true" ></script>
  </div>
  <div class="col-sm-6">
    <p class="lead">Other methods:</p>
    <p>Donate directly using Bitcoin: 13VEnbed4HJhwZn738pDdHvGGn6cDxnxdx</p>
    <p>Donate using <a href="https://salt.bountysource.com/teams/truthbot">Bountysource</a>.</p>
    <p><b>Thank you so much for your support!</b></p>
  </div>
</div>
{% endblock %}
