{% extends "base.html" %}
{% block title %}Truthbot.org{% endblock %}
{% block maincontent %}
<div class="jumbotron">
  <h1>Welcome to Truthbot.</h1>
  <p class="lead">A community to keep the media honest and transparent.</p>
  <p>
    Truthbot makes it easy for anyone to fact-check their news by allowing users to share and collaborate on reviews of news articles and organizations.
    In additon, Truthbot offers information on site ownership, so one can see who is behind the news organizations quickly and easily.
  </p>
  <p><a class="btn btn-primary btn-lg"><i class="fa fa-chrome" aria-hidden="true"></i> Install the Truthbot Chrome extension</a></p>
  <p>
    <a class="btn btn-default btn-md"><i class="fa fa-info" aria-hidden="true"></i> Learn more about Truthbot and the mission</a>
    <a href="http://forums.truthbot.org" class="btn btn-default btn-md"><i class="fa fa-th-list" aria-hidden="true"></i> Visit the Truthbot forums</a>
    <a href="https://github.com/Jaxkr/Truthbot.org" class="btn btn-default btn-md"><i class="fa fa-github" aria-hidden="true"></i> View the source code</a>
  </p>
</div>
<!--
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
-->
{% endblock %}
