{% extends "base.html" %}
{% block title %}Truthbot.org{% endblock %}
{% block maincontent %}
<div class="jumbotron">
  <h1>Welcome to Truthbot.</h1>
  <p class="lead">A community to keep the media honest and transparent.</p>
  <p>
    Truthbot makes it easy for anyone to get the whole story by allowing users to share and comment on the news free of censorship.
    In additon, Truthbot offers information on site ownership, so you can see who is behind your favorite news sites quickly and easily.
  </p>
  <p>
    <button onclick="chrome.webstore.install()" id="install-button" class="btn btn-primary btn-lg"><i class="fa fa-chrome" aria-hidden="true"></i> Install the Truthbot Chrome extension</button>
    <button disabled="disabled" class="btn btn-primary btn-lg"><i class="fa fa-firefox" aria-hidden="true"></i> Firefox extension: Working on it!</button>
  </p>
  <p>
    <a href="{% url 'about' %}" class="btn btn-default btn-md"><i class="fa fa-info" aria-hidden="true"></i> Learn more about Truthbot and the mission</a>
    <a href="https://github.com/Jaxkr/Truthbot.org" class="btn btn-default btn-md"><i class="fa fa-github" aria-hidden="true"></i> View the source code</a>
  </p>
</div>
{% endblock %}
