{% extends "base.html" %}
{% block title %}
Editing organization
{% endblock %}
{% block maincontent %}
<h1>Change organization details</h1>
{% if nochanges %}
<div class="alert alert-danger">
	<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No changes were made!
</div>
{% endif %}
<div class="row">
	<div class="col-md-7">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{{ form.non_field_errors }}
			</div>
			{% endif %}

			<div class="form-group">
				<label for="{{ form.name.id_for_label }}">Organization name</label>
				{% if form.name.errors %}
				<span class="form-error">{{ form.name.errors.as_text }}</span>
				{% endif %}
				{{ form.name }}
			</div>
			<div class="form-group">
				<label for="{{ form.description.id_for_label }}">Description</label>
				{% if form.description.errors %}
				<span class="form-error">{{ form.description.errors.as_text }}</span>
				{% endif %}
				{{ form.description }}
				<p>Markdown is allowed</p>
			</div>
			<div class="form-group">
				<label for="{{ form.info_url.id_for_label }}">Organization URL</label>
				{% if form.info_url.errors %}
				<span class="form-error">{{ form.info_url.errors.as_text }}</span>
				{% endif %}
				{{ form.info_url }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
