{% extends "base.html" %}

{% block maincontent %}
<h1>Write a comment</h1>
<div class="row">
  <div class="col-md-6">
    <form action="" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="{{ form.comment.id_for_label }}">Comment</label>
        {% if form.comment.errors %}
          <span class="form-error">{{ form.comment.errors.as_text }}</span>
        {% endif %}
        {{ form.comment }}
      </div>
      <div class="form-group">
        <label for="{{ form.tone.id_for_label }}">Tone</label>
        {% if form.tone.errors %}
          <span class="form-error">{{ form.tone.errors.as_text }}</span>
        {% endif %}
        {{ form.tone }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
  <h2>Preview:</h2>
  </div>
</div>
{% endblock %}