{% extends "base.html" %}
{% load markdown_parser %}
{% load staticfiles %}
{% block title %}
{{ org.name }} - Truthbot
{% endblock %}
{% block maincontent %}
<div class="row">
	<div class="col-md-12">
		<a href="{% url "organizationmodifydomains" org.pk %}" class="btn btn-default">Edit Domains</a>
		<a href="{% url "organizationmodifychildren" org.pk %}" class="btn btn-default">Edit child organizations</a>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<h1>{{ org.name }}</h1>
		{% if org.homepage %}
		<p><a href="{{ org.homepage }}" target="_blank">{{ org.homepage }} <i class="fa fa-external-link"></i></a></p>
		{% endif %}
		{% if org.wikipedia_page %}
		<p><a href="{{ org.wikipedia_page }}" target="_blank"><i class="fa fa-wikipedia-w" aria-hidden="true"></i>ikipedia page <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
		{% endif %}
		<p>
			<a href="{% url "organizationmodify" org.pk %}" class="btn btn-default btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Organization</a>
			<a href="{% url "organizationedithistory" org.pk %}" class="btn btn-default btn-default">View Edit History</a>
		</p>
		<p class="lead">
			{{ org.description }}
		</p>
	</div>
	<div class="col-md-7">
		{% if not wiki %}
			<p class="lead">There is currently no page for this organization!</p>
			<p><a href="{% url 'organizationcreatewiki' org.pk %}" class="btn btn-lg btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create Wiki Page</a></p>
		{% else %}
			{{ wiki.text|parsemarkdown|safe }}
			<p>
				<a href="{% url 'organizationeditwiki' org.pk %}" class="btn btn-sm btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit wiki page</a>
				<a href="{% url 'organizationwikiedithistory' org.pk %}" class="btn btn-sm btn-default"><i class="fa fa-list" aria-hidden="true"></i> View edit history</a>
			</p>
		{% endif %}
	</div>
</div>
{% endblock %}
