{% extends "base.html" %}
{% load markdown_parser %}
{% load staticfiles %}
{% block title %}
{{ org.name }} - Truthbot
{% endblock %}
{% block maincontent %}
<div class="row">
	<div class="col-md-12">
		<a href="{% url "organizationmodifydomains" org.pk %}" class="btn btn-default">Edit Domains</a>
		<a href="{% url "organizationmodifychildren" org.pk %}" class="btn btn-default">Edit child organizations</a>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<h1>{{ org.name }}</h1>
		<p class="lead"><a href="{{ org.homepage }}" target="_blank">{{ org.homepage }} <i class="fa fa-external-link"></i></a></p>
		<p>
			<a href="{% url "organizationmodify" org.pk %}" class="btn btn-default btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Organization</a>
			<a href="{% url "organizationedithistory" org.pk %}" class="btn btn-default btn-default">View Edit History</a>
		</p>
		<p class="lead">
			{{ org.description }}
		</p>
	</div>
	<div class="col-md-7">
		<p class="lead">There is currently no page for this organization!</p>
		<p><a href="{% url 'organizationcreatewiki' org.pk %}" class="btn btn-lg btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create Wiki Page</a></p>
	</div>
</div>
{% endblock %}
