{% extends "base.html" %}

{% block title %}
Edit history for {{ org.name }}
{% endblock %}
{% block maincontent %}
<h1>Viewing edit history for {{ org.name }}</h1>
<p>All versions of {{ org.name }}:</p>
{% for version in versions %}
<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><b>Name</b>: {{ version.field_dict.name }}</p>
				<p><b>Description</b>: {{ version.field_dict.description }}</p>
				<p><b>Homepage</b>: {{ version.field_dict.homepage }}</p>
				<p><b>Children</b>:
					{% for child in version.named_child_organizations %}
						<a href="{% url "organizationinfo" child.1 %}">{{ child.0 }}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</p>
				<p><i>Edited by {{ version.revision.user }}</i></p>
				<a href="{% url "organizationconfirmrollback" version.pk %}" class="btn btn-default">Rollback to this version</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
