{% extends "base.html" %}
{% load staticfiles %}
{% block maincontent %}
<h1>Write a review</h1>
<div class="row">
  <div class="col-md-6">
    <form action="" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="{{ form.review.id_for_label }}">Review</label>
        {% if form.review.errors %}
        <span class="form-error">{{ form.review.errors.as_text }}</span>
        {% endif %}
        {{ form.review }}
      </div>
      <div class="form-group">
        <label for="{{ form.tone.id_for_label }}">Tone</label>
        {% if form.tone.errors %}
        <span class="form-error">{{ form.tone.errors.as_text }}</span>
        {% endif %}
        {{ form.tone }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Preview:</h2>
    <div id="preview"> </div>
  </div>
</div>
<script src="{% static 'js/remarkable.min.js' %}"></script>
<script>
  var md = new Remarkable();
  md.set({
    html: false,
    breaks: true,
    linkify: true,
  });
  md.block.ruler.enable([
    'footnote',
    ]);
  area = document.getElementById('editor');
  preview = document.getElementById('preview');
  area.addEventListener('input', function() {
    preview.innerHTML = md.render(area.value)
    console.log(md.render(area.value))
  }, true);
</script>
{% endblock %}