{% extends "base.html" %}

{% block maincontent %}
<h1>Current domains for {{ org.name }}:</h1>
<div class="row">
	<div class="col-md-7">
		<ul class="list-group">
			{% for domain in domains %}
			<li class="list-group-item">{{ domain.domain }} <a class="btn btn-danger btn-xs" href="{% url "organizationdeletedomain" org.pk %}?domainid={{ domain.pk }}"><i class="fa fa-times"></i></a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p class="lead">Add a domain:</p>
		<form action="" method="post">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{{ form.non_field_errors }}
			</div>
			{% endif %}
			<div class="alert alert-info">
				<i class="fa fa-exclamation-triangle"></i> <b>Note</b>: a domain name is different from a URL!<br>
				An example of a URL is "http://google.com/etc/"<br>
				An example of a domain name is "google.com".<br>
				Please only input a domain name in the form below.
			</div>
			<div class="form-group">
				<label for="{{ form.domain.id_for_label }}">Domain to add</label>
				{% if form.domain.errors %}
				<span class="form-error">{{ form.domain.errors.as_text }}</span>
				{% endif %}
				{{ form.domain }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col-md-6">
		<p class="lead">Recent domain removals:</p>
		<ul class="list-group">
			{% for domain in domain_removals %}
			<li class="list-group-item">{{ domain.domain_old_json.0.fields.domain }} <a class="btn btn-default btn-xs" href="?domainrestoreid={{ domain.pk }}">Restore</a>
				<p>By user <b>{{ domain.user.username }}</b></p>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}