{% extends "base.html" %}

{% block title %}
{% endblock %}
{% block maincontent %}
<h1>Viewing edit history for {{ org.name }}</h1>
<p>Old versions of {{ org.name }}:</p>
{% for edit in logged_edits %}
<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><b>Name</b>: {{ edit.old_object.name }}</p>
				<p><b>Description</b>: {{ edit.old_object.description }}</p>
				<p><b>URL</b>: {{ edit.old_object.url }}</p>
				<p><i>Edited by {{ edit.edit.user.username }}</i></p>
			</div>
		</div>
		<a href="{% url "organizationconfirmrollback" edit.edit.pk %}" class="btn btn-default">Rollback to this version</a>
	</div>
</div>
{% endfor %}
{% endblock %}