{% extends "base.html" %}
{% block title %}
Organizations - Truthbot
{% endblock %}
{% block maincontent %}
<h3>Search Organizations:</h3>
<form action="{% url "organizationsearch" %}" method="get">
	<div class="input-group">
		{{ form.search_term }}
		<span class="input-group-btn">
			<button style="height: 50px" class="btn btn-default" type="submit">Search</button>
		</span>
	</div>
	<p>This search box only searches for organizations with names that <b>start</b> with your query.</p>
</form>
<hr>
<p class="lead">Before adding a new organization, be sure to search first!<br>
	<a href="{% url "organizationnew" %}" class="btn btn-default">Add New Organization</a>
</p>
<h3>All Organizations:</h3>
<nav>
	<ul class="pagination">
		{% if organizations.has_previous %}
		<li>
			<a href="?page={{ organizations.previous_page_number }}">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% endif %}
		<li><a href="#">Page {{ organizations.number }} of {{organizations.paginator.num_pages }}</a></li>
		{% if organizations.has_next %}
		<li>
			<a href="?page={{ organizations.next_page_number }}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
<div class="row">
	<div class="col-md-10">
		<ul class="list-group">
			{% for organization in organizations %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-sm-6">
						<h4>{{ organization.name }}</h4>
						{% if organization.homepage %}
						<p><a href="{{ organization.homepage }}" target="_blank">{{ organization.homepage }} <i class="fa fa-external-link"></i></a><br>{{ organization.description }}</p>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href="{% url "organizationinfo" organization.pk %}" class="btn btn-default"><i class="fa fa-info-circle"></i> View/Edit Info</a>
						<a href="{% url "organizationmodifydomains" organization.pk %}" class="btn btn-default"><i class="fa fa-plus"></i> Add a domain</a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<nav>
	<ul class="pagination">
		{% if organizations.has_previous %}
		<li>
			<a href="?page={{ organizations.previous_page_number }}">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% endif %}
		<li><a href="#">Page {{ organizations.number }} of {{organizations.paginator.num_pages }}</a></li>
		{% if organizations.has_next %}
		<li>
			<a href="?page={{ organizations.next_page_number }}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endblock %}
