{% extends "base.html" %}
{% load get_user_vote %}

{% block title %}{{ profile_user.username }} - Truthbot{% endblock %}

{% block maincontent %}
<div class="row">
  <div class="col-md-5">
    <h2>{{ profile_user.username }}</h2>
    <p style="font-size: 20px;">Contribution points: {{ contributor.points }}<br>
      <span style="font-size: 10px">(score may be delayed)</span></p>
  </div>
  <div class="col-md-7">
    <h3>Recent organization wiki edits:</h3>
    <div class="list-group">
      {% for wiki in recent_wiki_edits %}
      <a href="{% url 'organizationinfo' wiki.organization.pk %}" class="list-group-item">{{ wiki.organization.name }}</a>
      {% endfor %}
    </div>
    <h3>Recent news submissions:</h3>
    <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10">
            <span class="posttitle"><a href="{{ post.link }}">{{ post.title }}</a></span>
          </div>
          <div class="col-xs-2">
            {% if request.user.is_authenticated %}
            <button data-post-voted-on="{% get_has_voted post request.user 'post' %}" data-post-id="{{ post.pk }}" class="vote-button btn btn-lg btn-default pull-right">
              <span style="color:{% get_vote_color post request.user 'post' %}" class="voteicon"><i class="fa fa-caret-up" aria-hidden="true"></i></span> <span class="postscore">{{ post.score }}</span>
            </button>
            {% else %}
            <a href="{% url 'login' %}" data-post-id="{{ post.pk }}" class="btn btn-lg btn-default pull-right">
              <span class="voteicon"><i class="fa fa-caret-up" aria-hidden="true"></i></span> <span class="postscore">{{ post.score }}</span>
            </a>
            {% endif %}
          </div>
        </div>
        <p>
          <span>Submitted by {{ post.author.username }}.</span>
          <a href="{% url "postview" post.slug %}">{{ post.comment_set.count|add:post.commentreply_set.count }} comment(s)</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
