amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.5.0
billiard==3.3.0.23
celery==3.1.23
cssselect==0.9.2
Django==1.9.8
django-password-reset==0.9
django-reversion==2.0.6
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.1
jieba3k==0.35.1
kombu==3.0.35
lxml==3.6.1
mistune==0.7.3
newspaper3k==0.1.7
nltk==3.2.1
Pillow==3.3.0
psycopg2==2.6.2
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.11
redis==2.10.5
requests==2.10.0
requests-file==1.4
six==1.10.0
tldextract==2.0.1
