{% extends "base.html" %}
{% load get_user_vote %}

{% block title %}Top Articles - Truthbot{% endblock %}

{% block maincontent %}
<p>Sort by <a href="?sort=hot">Hot</a>, <a href="?sort=new">New</a></p>

<div class="row">
  <div class="col-md-10">
    <ul class="list-group">
      {% for post in posts %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10">
            <span class="posttitle"><a href="{{ post.link }}">{{ post.title }}</a></span>
          </div>
          <div class="col-xs-2">
            <button data-post-voted-on="{% get_has_voted post request.user 'post' %}" data-post-id="{{ post.pk }}" class="vote-button btn btn-lg btn-default pull-right">
              <span style="color:{% get_vote_color post request.user 'post' %}" class="voteicon"><i class="fa fa-caret-up" aria-hidden="true"></i></span> <span class="postscore">{{ post.score }}</span>
            </button>
          </div>
        </div>
        <p>
          <a href="{% url "postview" post.slug %}">{{ post.comment_set.count }} comments</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-2">
    <a href="{% url "submitpost" %}" class="btn btn-sm btn-default">Submit a news story</a>
  </div>
</div>


<nav>
	<ul class="pagination">
		{% if posts.has_previous %}
		<li>
			<a href="?page={{ posts.previous_page_number }}">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% endif %}
		<li><a href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
		{% if posts.has_next %}
		<li>
			<a href="?page={{ posts.next_page_number }}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="disabled">
			<a href="#">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>


{% endblock %}
