{% extends "base.html" %}
{% load get_user_vote %}
{% load markdown_parser %}

{% block title %}{{ post.title }}{% endblock %}

{% block maincontent %}
<div class="row">
  <div class="col-md-5">
    <span style="font-size: 29px"><a target="_blank" href="{{ post.link }}">{{ post.title }} <i class="fa fa-external-link"></i></a></span>
    {% if request.user.is_authenticated %}
    <button data-post-voted-on="{% get_has_voted post request.user 'post' %}" data-post-id="{{ post.pk }}" class="vote-button btn btn-lg btn-default pull-right">
      <span style="color:{% get_vote_color post request.user 'post' %}" class="voteicon"><i class="fa fa-caret-up" aria-hidden="true"></i></span> <span class="postscore">{{ post.score }}</span>
    </button>
    {% else %}
    <a href="{% url 'login' %}" data-post-id="{{ post.pk }}" class="btn btn-lg btn-default pull-right">
      <span class="voteicon"><i class="fa fa-caret-up" aria-hidden="true"></i></span> <span class="postscore">{{ post.score }}</span>
    </a>
    {% endif %}
    <p>Submitted by {{ post.author.username }}</p>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        {{ comment.text|parsemarkdown|safe }}
      </div>
      <div class="panel-footer">{{ comment.author.username }}, {{ comment.timestamp }}</div>
    </div><br>
    <p>
      You are viewing the permanent page for a single comment.<br>
      <a href="{% url "postview" post.slug %}" class="btn btn-sm btn-default">View all comments</a>
    </p>
  </div>
</div>

{% endblock %}
