{% extends "base.html" %}
{% block title %}
New post
{% endblock %}
{% block maincontent %}
<h1>Submit a news article to Truthbot</h1>
<div class="row">
	<div class="col-md-7">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{{ form.non_field_errors }}
			</div>
			{% endif %}

			<div class="form-group">
				<label for="{{ form.name.id_for_label }}">Title</label>
				{% if form.title.errors %}
					<span class="form-error">{{ form.title.errors.as_text }}</span>
				{% endif %}
				{{ form.title }}
			</div>
			<div class="form-group">
				<label for="{{ form.link.id_for_label }}">URL</label>
				{% if form.link.errors %}
					<span class="form-error">{{ form.link.errors.as_text }}</span>
				{% endif %}
				{{ form.link }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
