{% extends "base.html" %}
{% load markdown_parser %}
{% load get_user_vote %}

{% block maincontent %}
<div class="col-md-6">
	{% if org_exists %}
	<h2>Ownership info:</h2>
	<p class="lead">
		<b>{{ domain }}</b> is part of <a href="{% url "organizationinfo" org.pk %}"><b>{{ org.name }}</b></a> {% if parents %}{% for parent in parents %} which is owned by <a href="{% url "organizationinfo" parent.pk %}"><b>{{ parent.name }}</b></a>{% if not forloop.last %} {% endif %}{% endfor %}{% endif %}.
	</p>
	{% endif %}
</div>
<div class="col-md-6">
	<h2>Article Reviews</h2>
	{% if not have_article %}
	<p class="lead">It appears that the article at <b>{{ url }}</b> isn't in our database yet! It has been added to the queue for processing.</p>
	<p><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Page has been in queue for approximately {{ seconds }} seconds.</p>
	{% else %}
	<big><a href="{{ article.url }}" target="_blank"><i>{{ article.title }}</i> <i class="fa fa-external-link" aria-hidden="true"></i></a></big>
	{% if have_article_reviews %}
	<p>Sort: <a href="?sort=top">Top</a>, <a href="?sort=new">New</a></p>
	{% for article_review in article_reviews %}
	<div class="panel panel-default">
		<div class="panel-body">
			<p>{{ article_review.review.text|parsemarkdown|safe }}</p>
			<hr>
			<p><b>Written by {{ article_review.review.original_author }}</b></p>
			<p class="voting"><b>Points</b>: <i data-voteurl="{% url 'castvote' %}?review={{ article_review.review.pk }}&type=+1&model=articlereview" class="fa fa-thumbs-up vote-up"></i> <span class="review-score" style="color:{% get_vote_color article_review.review request.user 'articlereview' %};">{{ article_review.score }}</span> <i class="fa fa-thumbs-down vote-down" data-voteurl="{% url 'castvote' %}?review={{ article_review.review.pk }}&type=-1&model=articlereview"></i></p>
			<p><a class="btn btn-default" href="{% url 'articlereviewview' article_review.review.pk %}">View/edit review</a></p>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	<p>
		<a href="{% url 'articlecreatereview' article.pk %}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Write review for this article</a>
	</p>
	{% endif %}
</div>
{% endblock %}
