{% extends "base.html" %}

{% block maincontent %}
<h3>Go to article page for article with URL...</h3>
<form action="{% url "articlesroot" %}" method="post">
	<div class="input-group">
		{{ form.article_url }}
		<span class="input-group-btn">
			<button style="height: 50px" class="btn btn-default" type="submit">Go</button>
		</span>
	</div>
  {% csrf_token %}
</form>
<h2>Recently added articles</h2>
<nav>
  <ul class="pagination">
    {% if articles.has_previous %}
    <li>
      <a href="?page={{ articles.previous_page_number }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li><a href="#">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</a></li>
    {% if articles.has_next %}
    <li>
      <a href="?page={{ articles.next_page_number }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a href="#">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% for article in articles %}
<big><a href="{% url 'article' article.url %}">{{ article.title }}</a></big>
<br>
{% endfor %}
{% endblock %}
