{% extends "base.html" %}

{% block maincontent %}
<div class="col-md-6">
	{% if org_exists %}
	<h2>Ownership info:</h2>
	<p class="lead">
		<b>{{ domain }}</b> is part of <b>{{ org.name }}</b> {% if parents %}{% for parent in parents %} which is owned by <b>{{ parent.name }}</b>{% if not forloop.last %} {% endif %}{% endfor %}{% endif %}.
	</p>
	{% endif %}
</div>
<div class="col-md-6">
	<h2>Article Reviews</h2>
	{% if not have_article %}
	<p class="lead">It appears that the article at <b>{{ url }}</b> isn't in our database yet! It has been added to the queue for processing.</p>
	<p><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Page has been in queue for approximately {{ seconds }} seconds.</p>
	{% else %}
	<big><a href="{{ article.url }}" target="_blank"><i>{{ article.title }}</i> <i class="fa fa-external-link" aria-hidden="true"></i></a></big>
	{% if have_article_reviews %}
	{% for article_review in article_reviews %}
	{{ article_review.text }}<br>
	{% endfor %}
	{% endif %}
	<p>
	<a href="{% url 'articlecreatereview' article.pk %}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Write review for this article</a>
	</p>
	{% endif %}
</div>
{% endblock %}