{% extends "base.html" %}

{% block maincontent %}
<h1>Editing child organizations for <b>{{ organization.name }}</b></h1>
<h2>Current child organizations:</h2>
{% for childorganization in organization_children %}
<li class="list-group-item">
	<div class="row">
		<div class="col-sm-6">
			<h4>{{ childorganization.name }}</h4>
			<p><a href="{{ childorganization.url }}" target="_blank">{{ childorganization.url }} <i class="fa fa-external-link"></i></a><br>{{ childorganization.description }}</p>
		</div>
		<div class="col-sm-6">
			<img src="{{ childorganization.logo.url }}" style="max-width: 100%">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="{% url "organizationinfo" childorganization.pk %}" class="btn btn-default"><i class="fa fa-info-circle"></i> View/Edit Info</a>
			<a class="btn btn-danger" href="{% url "organizationremovechild" organization.pk %}?childid={{ childorganization.pk }}"><i class="fa fa-times"></i> Remove child</a>
		</div>
	</div>
</li>
{% endfor %}<br>
<p>You can search for and add organizations using the form below.</p>
<h2>Search results for "{{ term }}":</h2>
<form action="" method="get">
	<div class="input-group">
		{{ form.search_term }}
		<span class="input-group-btn">
			<button style="height: 50px" class="btn btn-default" type="submit">Search</button>
		</span>
	</div>
	<p>This search box only searches for organizations with names that <b>start</b> with your query.</p>
</form><br>
{% for result_organization in organization_search_results %}
<li class="list-group-item">
	<div class="row">
		<div class="col-sm-6">
			<h4>{{ result_organization.name }}</h4>
			<p><a href="{{ result_organization.url }}" target="_blank">{{ result_organization.url }} <i class="fa fa-external-link"></i></a><br>{{ result_organization.description }}</p>
		</div>
		<div class="col-sm-6">
			<img src="{{ result_organization.logo.url }}" style="max-width: 100%">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="{% url "organizationinfo" result_organization.pk %}" class="btn btn-default"><i class="fa fa-info-circle"></i> View/Edit Info</a>
			<a href="{% url "organizationaddchild" organization.pk result_organization.pk %}" class="btn btn-default"><i class="fa fa-plus"></i> Add as child</a>
		</div>
	</div>
</li>
{% endfor %}
{% endblock %}